form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f5f5f5;
  padding: 20px 10px 0;
  border-radius: 5px;

  @media screen and (max-width: 1000px){
    flex-direction: column;
    padding-bottom: 20px;
  }

  .mat-mdc-form-field {
    max-width: 250px;
    min-width: 200px;
    width: 16vw;

    @media screen and (max-width: 1000px) {
      max-width: 360px;
      width: 100%;
    }
  }
}
